// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
// @import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

@import "foundation/foundation-global"; // *always required
@import "foundation/components/global"; // *always required
@import "foundation/components/grid";
@import "foundation/components/visibility";
@import "foundation/components/block-grid";
@import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
@import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
@import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";


/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}
.clearfix {
     @include clearfix();
}

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}


/* =Structure
----------------------------------------------- */

body {
     line-height: 1.5;
}
ul, ol, dl {
     font-size: 1em;
     list-style: none;
     margin: 0;
}
#page {
     overflow: hidden;
}


/* =Masthead
----------------------------------------------- */

#masthead {
     border-bottom: 1px solid $border-color;
     padding: 1em 0;
}


     /* =Menu
     ----------------------------------------------- */
     
     .navigation-main ul {
          float: right;
     	list-style: none;
     	margin: 0;
     	padding-left: 0;
     }
     .navigation-main li {
     	float: left;
     	position: relative;
     }
     .navigation-main a {
          border-bottom: 2px solid transparent;
          color: $darker-grey;
     	display: block;
     	font-size: 0.8em;
     	margin: 0 1.2em;
     	padding: 0.8em 0;
     	text-decoration: none;
     }
     .navigation-main ul ul {
          background: #fff;
          border: 1px solid $border-color;
          @include radius( 0 0 2px 2px );
     	display: none;
     	float: left;
     	position: absolute;
     	     top: 43px;
     		left: 0;
     	z-index: 99999;
     }
     .navigation-main ul ul ul {
     	left: 100%;
     	top: 0;
     }
     .navigation-main ul ul a {
     	width: 200px;
     }
     .navigation-main ul ul li {
     }
     .navigation-main li:hover > a {
          border-color: $black;     
     }
     .navigation-main ul ul :hover > a {
          border-color: transparent;
     }
     .navigation-main ul ul a:hover {
     }
     .navigation-main ul li:hover > ul {
     	display: block;
     }
     .navigation-main li.current_page_item a,
     .navigation-main li.current-menu-item a {
     }
     
     /* Small menu */
     .menu-toggle {
     	display: none;
     	cursor: pointer;
     }
     
     .main-small-navigation ul {
     	display: none;
     }
     
     @media screen and (max-width: 600px) {
     	.menu-toggle,
     	.main-small-navigation ul.nav-menu.toggled-on {
     		display: block;
     	}
     
     	.navigation-main ul {
     		display: none;
     	}
     }
     
     /* Breadcrumbs */
     .breadcrumb-trail {
          font-size: 13px;
          font-weight: 300;
          margin: 1em 0;
          & .sep {
               padding: 0 .5em;
          }
     }
     .breadcrumb-trail,
     .breadcrumb-trail a {
          color: $darker-grey;
     }


/* =Main
----------------------------------------------- */
.archive,
.blog {
     article {
          margin-bottom: 2em;
     }
}
.page-header,
.page-meta {
     border-bottom: 1px solid $border-color;     
     @include box-sizing( content-box );
     margin-left: -1000px;
     padding-left: 1000px;
     padding-right: 1000px;
     width: 100%; 
     p {
          margin: 0;
     }
}
.page-header {
     padding: 2em 1000px;
}
.page-title {
     margin: 0;
}
.content-area.row {
     margin-top: 2em;
     margin-bottom: 2em;
}
.entry-title {
     margin: 0;
     a {
          color: $black;
     }
}
.entry-meta {
     color: $darker-grey;
     font-size: 0.8em;
     a {
          color: $dark-grey;          
     }
}
.entry-header .entry-meta {
     margin-bottom: 2em;
}
.entry-content .row {
     margin-bottom: 2em;
}


/* =Colophon
----------------------------------------------- */

#colophon {
     border-top: 1px solid $border-color;
     padding-top: 2em;
     padding-bottom: 2em;
}


/* =Asides
----------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}


/* =Widgets
----------------------------------------------- */

.widget {
     color: $darker-grey;
     margin-bottom: 2em;
     & p,
     & ul,
     & li,
     & tr,
     & td,
     & a {
          font-size: 13px;
          font-weight: 300;          
     }
     ul {
          border: 1px solid $border-color;
          @include radius( 2px );
          list-style: none;
     }
     li {
          border-bottom: 1px solid $border-color;
          padding: 0.6em 1.2em;
          a {
               display: block;
          }
          &:hover {
               background: $background-hover;
          }
          &:last-child {
               border: none;
          }
     }
     a {
          color: $darker-grey;
     }
}
.widget_calendar {
     table {
          width: 100%;
     }
     caption {
          border: 1px solid $border-color;
          @include radius( 2px 2px 0 0 );
          font-size: 13px;
          border-bottom: none;
          padding: 0.6em 0;
     }
     tbody tr {
          height: 35px;
     }
     tbody tr > td {
          border: 1px solid $border-color;
     }
     tfoot {
          border-top: 1px solid $border-color;
     }
     #next {
          text-align: right;
     }
}


/* =Media
----------------------------------------------- 

.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
.site-content .gallery {
	margin-bottom: 1.5em;
}
.gallery-caption {
}
.site-content .gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}
.site-content .gallery dd {
	margin: 0;
}
.site-content .gallery-columns-4 .gallery-item {
}
.site-content .gallery-columns-4 .gallery-item img {
}

*/

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}


/* =Navigation
----------------------------------------------- */

.site-content [class*="navigation"] {
	margin: 0 0 1.5em;
	overflow: hidden;
}
[class*="navigation"] .previous {
	float: left;
	width: 50%;
}
[class*="navigation"] .next {
	float: right;
	text-align: right;
	width: 50%;
}

/* =Comments
----------------------------------------------- */

#comments {
     margin-top: 2em;
}
.comment-list {
     list-style: none;
}
.comment-author {
     img {
          float: left;
     }
}
.comment-content a {
	word-wrap: break-word;
}
#comments {
     .commentlist {
          margin: 0;
     }
     .comment {
          margin-bottom: 2em;
          position: relative;
     }
     .children {
          clear: both;
          margin: 2em 0 0 2em;
     }
     .comment-author {
          margin-bottom: 1em;
     }
     .fn {
          display: block;
          font-size: 17px;
     }
     .edit-link {
          display: block;
          text-decoration: underline;
     }     
     .avatar {
          border: 2px solid #fff;
          border-radius: 64px;
          box-shadow: 0 0 4px #ccc;
          display: block;
          margin: 0 2em 1em 0;
     }
     .reply {
          display: none;
     }
     #respond {
          @include grid-row( $behavior: nest );
          #reply-title {
               @include grid-column( 3 );
               margin-top: 0;
          }    
          form {
               @include grid-column( $offset : 1 );          
               @include grid-column( 8 );
          }
     }
     .form-allowed-tags {
          display: none;
     }
}

